Body {
   background-color: #ffffff;
   background-image: url("./Images/leafprint.jpg");
}

/*
.navbar {
  background-color: #898989;
  height: 100px;
  width: auto;
}
*/
.selection {
  border: 10px solid #7b00ff;
  height: auto;
  width: 210px;
  margin: 0px;
  background-color: #7b00ff;
  position: absolute;
  opacity: .5;
}

.selection p {
  color: #ce5f37;
  font-size: 50px;
  text-align: center;
}

.icons {
  border: 5px solid #f9a55c;
  height: auto;
  width: 50px;
  padding: 20px;
  border: 0px;
}

h1 {
  font-size: 50px
}

.button {
  border-radius: 10px;
  background: linear-gradient(to bottom right, #ffffff 0%, #000000);
  height: 90px;
  width: 90px;
  display: inline-block;
  margin: 12px;
  opacity:1;

}

.button:active {
  position: relative;
  top: 5px;
}

.button:hover {
  cursor: pointer;
}

.carousel {
  height: 1000px;
  width: 1225px;
  border: 10px solid black;
  float: right;
  margin: 0px;
  background-color: black;
}
body .footer {
 background-color: green;
 height: 1100px;
}
/*
footer {
  background-color:green;
  border: 10px solid black;
  height:500px;
  width: 400px;
}
.socialmedia p {
  color: #ce5f37;
}
*/
